#about-me {
    min-height: 100vh;
    padding: 6rem;
    background-color: var(--color1);
    display: grid;
    place-items: center;
}

#about-me .about-container {
    display: flex;
    align-items: center;
    max-width: 48rem;
    margin-left: 1.5rem;
}

#about-me article {
    flex: 1 1 12rem;
}

#about-me .img-container > img {
    width: 100%;
    border-radius: 50%;
}

#about-me .text-container {
    position: relative;
    padding: 1.5rem;
    border-radius: 1rem;
    left: -3rem;
    bottom: -9rem;
    background-color: var(--color5);
    box-shadow: 0 1rem 2rem var(--shadow1);
}

#about-me .text-container > h2 {
    font: bold 2.6em 'chivo';
    color: var(--color2);
    margin-bottom: .6em;
}

#about-me .text-container > p {
    text-align: justify;
    font: normal 1.2em/1.5 'Roboto';
    color: var(--color2);
}

@media screen and (width < 800px) {
    #about-me {
        padding: 3rem;
    }

    #about-me .about-container {
        gap: 1.5rem;
    }

    #about-me .about-container {
        max-width: 24rem;
        flex-direction: column;
        margin-left: 0;
        font-size: 12px;
    }

    #about-me .text-container {
        position: static;
    }
}