:root {
    --color1: #eeeeff;
    --color2: #303040;
    --color3: #606080;
    --color4: #eeeeff80;
    --shadow1: #30304040;
}

#about-me {
    height: 100vh;
    background-color: var(--color1);
    display: grid;
    place-items: center;
}

#about-me .text-container {
    display: flex;
    align-items: center;
    gap: 6rem;
}

#about-me .text-container > h2 {
    font: bold 8rem 'Roboto';
    color: var(--color2);
}

#about-me .text-container ul {
    list-style-type: square;
}

#about-me .text-container li {
    font: normal 1.2rem/1.5 'Chivo';
    color: #303040;
}