:root {
    --color1: #eeeeff;
    --color2: #303040;
    --color3: #606080;
    --color4: #eeeeff80;
    --shadow1: #30304040
}

#projects {
    background-color: var(--color1);
    padding: 3rem;
    display: flex;
    gap: 3rem;
}

#projects .title-container {
    position: sticky;
    top: 3rem;
    height: calc(100vh - 6rem);
    padding: 3rem;
    display: grid;
    place-items: center;
}

#projects .title-container > h2 {
    cursor: vertical-text;
    position: absolute;
    font: bold 5rem 'Chivo';
    color: var(--color2);
    transform: rotate(-90deg);
}

#projects .projects-container {
    flex-grow: 1;
    padding: 2rem;
    display: grid;
    grid-template: repeat(2, 1fr) / repeat(2, 1fr);
    gap: 2rem;
}

#projects .projects-container .card > a {
    text-decoration: none;
}

#projects .projects-container .card {
    overflow: hidden;
    position: relative;
    /* box-shadow: .5rem 1rem 2rem var(--shadow1); */
}

#projects .projects-container .card > img {
    width: 100%;
    transition: all 250ms;
}

#projects .projects-container .text {
    position: absolute;
    left: 0;
    bottom: -10rem;
    padding: 2rem;
    transition: all 250ms;
}

#projects .projects-container .card:hover .text {
    bottom: 0;
}

#projects .projects-container .card:hover > img {
    filter: brightness(0.25) grayscale(0);
}

#projects .projects-container .text h3 {
    font: normal 3rem 'Chivo';
    color: var(--color1);
    text-decoration: none;
    margin-bottom: 1rem;
}

#projects .projects-container .text p {
    font: normal 1.2rem 'Roboto';
    color: var(--color1);
}