#projects {
    background-color: var(--color1);
    padding: 6rem;
    display: flex;
    gap: 6rem;
}

#projects .title-container {
    position: sticky;
    top: 6rem;
    height: calc(100vh - 12rem);
    padding: 3rem;
    display: grid;
    place-items: center;
}

#projects .title-container > h2 {
    cursor: vertical-text;
    position: absolute;
    font: bold 5em 'Chivo';
    color: var(--color2);
    transform: rotate(-90deg);
}

#projects .projects-container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

#projects .projects-container > a {
    text-decoration: none;
}

#projects .projects-container .card {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    border-radius: 2rem;
    background-color: var(--color5);
    transition: all 250ms;
    box-shadow: 0 1rem 2rem var(--shadow1);
}

#projects .projects-container .card:hover {
    transform: translateY(-0.5rem);
    box-shadow: 0 1.5rem 2rem var(--shadow1);
}

#projects .projects-container > a:nth-child(odd) .card {
    flex-direction: row-reverse;
}

#projects .projects-container .card img {
    flex: 1 1 350px;
    width: 0;
    border-radius: 2rem;
    transition: all 250ms;
}

#projects .projects-container .text {
    flex: 1 1 350px;
    padding: 1.5rem;
    margin-block: auto;
}

#projects .projects-container > a:nth-child(odd) .card .text {
    text-align: right;
}

#projects .projects-container .text h3 {
    font: normal 3.5em 'Chivo';
    color: var(--color2);
    text-decoration: none;
    margin-bottom: 1rem;
}

#projects .projects-container .text p {
    font: normal 1.2em 'Roboto';
    color: var(--color2);
}

#projects .projects-container .text p > code {
    padding: .25rem;
    background-color: var(--shadow1);
}

@media screen and (width < 1200px) {
    #projects {
        padding: 3rem;
        flex-direction: column;
        gap: 1.5rem;
    }

    #projects .title-container {
        position: static;
        height: auto;
        padding: none;
    }

    #projects .title-container > h2 {
        transform: none;
    }

    #projects .projects-container > a:nth-child(n) .card { /* Gambiarra */
        border-radius: 1rem;
        gap: 0;
    }

    #projects .projects-container > a:nth-child(n) .card img {
        border-radius: 1rem;
    }

    #projects .projects-container > a:nth-child(n) .card .text {
        text-align: left;
    }
}

@media screen and (width < 750px) {
    #projects {
        font-size: 12px;
    }

    #projects .title-container > h2 {
        font-size: 3.6em;
    }

    #projects .projects-container .text > h3 {
        font-size: 2.6em;
    }

    #projects .projects-container .text p > code {
        padding: .125rem;
    }
}